@using Microsoft.AspNetCore.Identity
@using FinancialManager.Models
@inject SignInManager<FinancialManagerUser> SignInManager
@inject UserManager<FinancialManagerUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Manage" asp-action="Index">
                Hello, @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
